<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label name="label1" fontsize="20" caption="Hello!! Pushed from WaveMaker" width="337"></wm-label>
                <wm-label name="label2" fontsize="20" caption="And I pulled this in WaveMaker" width="337"></wm-label>
                <wm-label name="label3" caption="hello there!!! tried to check wavemaker vcs actions" fontsize="18"></wm-label>
                <wm-label name="label4" caption="pushed from bitbucket.org to test WaveMaker VCS pull" fontsize="18"></wm-label>
                <wm-label name="label5" caption="changed in WaveMaker project to test WaveMaker VCS merge" fontsize="18"></wm-label>
                <wm-label name="label5" caption="pushed from bitbucket.org to test WaveMaker VCS merge" fontsize="18"></wm-label>
                <wm-label name="label5" caption="pushed from bitbucket.org to test WaveMaker VCS merge" fontsize="18"></wm-label>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>
